.right-side input[type=text], .right-side input[type=number], .right-side input[type=date], .right-side input[type=file], .right-side select, .right-side input[type=password], .right-side input[type=email], .right-side textarea {
    width: 100%;
    padding: 8px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    background-color: #888686;
}

.right-side {
    width: 675px;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}