.right-side input[type=text], input[type=number], input[type=date], input[type=file], select, input[type=password], input[type=email], textarea {
    width: 100%;
    padding: 8px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    background-color: #888686;
}

.right-side {
    width: 675px;
}